form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1.5rem; 
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

form div {
  margin-bottom: 1rem;  /*1 rem is 16px */
}

.row {
  display: flex;
  gap: 15px;
}

.row select,
.row input {
  padding: 10px;
  width: 100px;
}
/* ........................ */
.row-name {
  display: flex;
  gap: 15px;
}

.row input {
  flex: 1;          /* equal width */
  padding: 10px;
  font-size: 16px;
}
/* .............................. */
.address-group {
  margin-bottom: 15px;
}

.address-group input {
  width: 100%;
  padding: 10px;
}
/* ................zip and city......... */
.zip-city{
  display: flex;
  gap: 15px;
}

.zip-city input {
  flex: 1;        /* equal width */
  padding: 10px;
  font-size: 15px;
}
/* .............United states and states................. */    
.us-states {
  display: flex;
  gap: 15px;
}

.us-states select {
  flex: 1;
  padding: 10px;
  font-size: 15px;
}
.checkbox-row {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}




/* input[type="text"],
input[type="email"],
input[name="password"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

input[type="radio"] {
  margin-right: 0.3rem;
}

label {
  margin-right: 1rem;
}

button {
  padding: 0.6rem 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin: 0.3rem 0 0;
  color: red;
  font-size: 0.9rem;
}